specVersion: 0.0.1
schema:
  file: ./schema.graphql
dataSources:
  - kind: ethereum/contract
    name: OSTComposer
    network: dev
    source:
      address: "{{stakePoolAddress}}"
      abi: OSTComposer
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.2
      language: wasm/assemblyscript
      entities:
        - StakeRequested
      abis:
        - name: OSTComposer
          file: "{{{projectRoot}}}/abi/0.12/OSTComposer.json"
      eventHandlers:
        - event: StakeRequested(uint256,address,uint256,uint256,uint256,address,address,address,bytes32)
          handler: handleStakeRequested
      file: ./src/OSTComposerMapping.ts

  - kind: ethereum/contract
    name: EIP20Gateway
    network: dev
    source:
      address: "{{eip20GatewayAddress}}"
      abi: EIP20Gateway
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.2
      language: wasm/assemblyscript
      entities:
        - StakeIntentDeclared
        - StakeProgressed
        - RedeemIntentConfirmed
        - UnstakeProgressed
        - GatewayProven
      abis:
        - name: EIP20Gateway
          file: "{{{projectRoot}}}/abi/0.12/EIP20Gateway.json"
      eventHandlers:
        - event: StakeIntentDeclared(bytes32,address,uint256,address,uint256)
          handler: handleStakeIntentDeclared
        - event: StakeProgressed(bytes32,address,uint256,uint256,bool,bytes32)
          handler: handleStakeProgressed
        - event: RedeemIntentConfirmed(bytes32,address,uint256,address,uint256,uint256,bytes32)
          handler: handleRedeemIntentConfirmed
        - event: GatewayProven(address,uint256,bytes32,bool)
          handler: handleGatewayProven
        - event: UnstakeProgressed(bytes32,address,address,uint256,uint256,uint256,bool,bytes32)
          handler: handleUnstakeProgressed
      file: ./src/EIP20GatewayMapping.ts

  - kind: ethereum/contract
    name: Anchor
    network: dev
    source:
      address: "{{anchorAddress}}"
      abi: Anchor
    mapping:
      kind: ethereum/events
      apiVersion: 0.0.2
      language: wasm/assemblyscript
      entities:
        - StateRootAvailable
      abis:
        - name: Anchor
          file: "{{{projectRoot}}}/abi/0.12/Anchor.json"
      eventHandlers:
        - event: StateRootAvailable(uint256,bytes32)
          handler: handleStateRootAvailable
      file: ./src/AnchorMapping.ts

